[submodule "include/argparse"]
	path = include/argparse
	url = https://github.com/FraMecca/libargparse
[submodule "include/libConfuse"]
	path = include/libConfuse
	url = https://github.com/martinh/libconfuse
[submodule "include/proxysocket"]
	path = include/proxysocket
	url = https://github.com/brechtsanders/proxysocket
[submodule "include/uthash"]
	path = include/uthash
	url = https://github.com/troydhanson/uthash
