[submodule "include/argparse"]
	path = include/argparse
	url = https://github.com/FraMecca/libargparse
[submodule "include/libConfuse"]
	path = include/libConfuse
	url = https://github.com/martinh/libconfuse
